<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="header col-xs-9">
      <h2>
      <img src='images/black.jpg' height=45vw>
          Dropify
      </h2>
  </div>
  <ul class="nav navbar-nav">
    <h2 class='navbar-right-align'><%= link_to 'Log out', destroy_user_session_path, method: :delete %></h2>
  </ul>
</nav>
<div>
  <%= render :partial => 'messages/new_message', locals: {message: Message.new} %>
  <%= render :partial => 'messages/new_picture', locals: {picture: Picture.new} %>
</div>
<div>
  <%= render :partial => 'adverts/new', locals: {message: Message.new} %>
</div>
<div id="messageArea" style="display:none"></div>
<div id="map-canvas">
</div>

<%= render partial: 'footer' %>
<% else %>
<div class="container">
  <div class="row center-btn">
    <div class="col-sm-4">
      <%= button_to 'Sign up', new_user_registration_path, method: :get, :class => 'btn btn-primary btn-spacing' %>
    </div>
    <div class="col-sm-4">
      <%= button_to 'Log in', new_user_session_path, method: :get, :class => 'btn btn-primary btn-spacing' %>
    </div>
  </div>
<% end %>
