<header>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mac-left">
            <img src="images/logo.png" width="205" height="70"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mac-left">
        <ul class='nav secondary-nav'>
            <%= button_to 'Sign out', destroy_user_session_path, method: :get, :class => 'btn btn-primary btn-left animated .topbar div>ul.secondary-nav, .nav.secondary-nav' %>
            </div>
        </ul>
        
</div>
</header>
<% if user_signed_in? %>
<div id="map-canvas">
    </div>
    <%= render :partial => 'adverts/new', locals: {message: Message.new} %>
</div>
    <div id="messageArea" style="display:none">
    </div>
<%= render partial: 'footer' %>
<% else %>
<!--<section class="hero">-->
<div class="container"><br><br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mac-left">
        <%= button_to 'Log in', new_user_session_path, method: :get, :class => 'btn btn-primary btn-center animated' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mac-left">
        <%= button_to 'Sign up', new_user_registration_path, method: :get, :class => 'btn btn-primary btn-center animated' %>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mac-left">
        <img class="animated" src="images/dfy.png" width="553" height="529" />
        <br> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mac-center"><br><br>
        <img class="animated" src="images/pinw.png" width="551" height="527" />
        <br>
    </div>
</div>
<!--</section -->
<% end %>
