<!DOCTYPE html>
<html>
<head>
  <title>Dropify</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
>>>>>>> 8faeb2c4536374e2259e6962760c524caaaa2b94
</head>
<body>
<%= yield %>
  <script id="messageTpl" type="text/template">
    <div class="messageTemplate">
      <h1><a href="{{url}}">{{title}}</a></h1>
      {{#picturePath}}
        <div class ="message-image">
          <img src={{picturePath}}>
        </div>
      {{/picturePath}}
      
      {{#advert}}
        <div class ="message-image">
          <a href="{{url}}">{{url}}</a>
        </div>
      {{/advert}}

        <hr>
        <p><span class="username">Posted by:  {{user.username}}</span></p>
        <p><span class="message-content">{{content}}</span></p><br>

      <div id="message_footer">
        <%= button_to "Close", "", :id => "message-close", :class => 'btn btn-danger' %>
      </div>
    </div>
  </script>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

</body>
</html>


